$BorderColor: #766968;
$PaperColor: #DCCFC2;
$White: #E5E2E5;
$Black: #4C464B;
$Blue: #02027D;
$Gray: #DBDBDB;
// $LightGray: #E9E9E9;
$LightGray: #f3f3f3;

$Deselect: #f3f3f3;
$DeselectActive: #e3e3e3;
