body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;

  &-header {
    background-color: white;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #282c34;
    margin: 0 20px;
  }
}

.App-header .header {
  margin: 0 30px 0 0;
}

.App-tz {
  margin-top: 15px;
  height: calc(100vh - 55px);
}

.App-tz-containers {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Timezone {
  width: 150px;
  max-width: 150px;
  margin-right: 10px;
}

.Timezone-current-time {
  border-top: 1px solid red;
  width: 100%;
  height: 1px;
  position: absolute;
}

.Timezone-highlight-time {
  border-top: 1px solid blue;
  width: 100%;
  height: 1px;
  position: absolute;
  font-size: 10px;
  text-align: left;
  padding-left: 15px;
}

.Timezone-calendar-container {
  cursor: pointer;
  position: relative;
  /* height: 85%; */
  height: 671px;
  margin-top: 15px;
  /* border-left : 1px solid black; */
  border-top: 1px solid gray;
}

.Timezone-ruler {
  /* height: calc(100% + 20px); */
  height: 691px;
  width: 5px;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  border-right: 1px solid gray;
}

.Timezone-hour-block {
  /* height: 4.02%; */
  height: 27px;
  border-bottom: 1px solid gray;
  font-size: 10px;
  text-align: right;
}

.Timezone-options {
  display: inline-flex;
  justify-content: space-between;
  width: 75px;
}

.Timezone-remove-tz {
  min-height: 18px;
}
.Timezone-remove-tz, .Timezone-move-left, .Timezone-move-right {
  cursor: pointer;
}

.Time-container {
  padding: 0 5px;
}

.Time-label {
  font-weight: 600;
  margin-bottom: 5px;
  white-space: nowrap;
}

.Search-container {
  position: absolute;
  margin-left: 15px;
  width: 300px;
  text-align: left;
  background: white;
}
.Search-container p {
  cursor: pointer;
}

.Deselect-container {
  height: 665px;
  width: 150px;
  background: #f3f3f3;
  margin-top: 60px;
  margin-left: 15px;
  padding: 10px;
}
.Deselect-container:hover {
  cursor: pointer;
}
.Deselect-container:active {
  cursor: pointer;
  background: #e3e3e3;
}
